/*  This is the CSS file for prestest #1 */
body {
  background-color: gold;
  color: green;
  font-family: Georgia, Times, serif
}

#wrapper {
  max-width: 500px;
  margin: auto;
}

h1 {
  background-color: fuchsia;
  color: white;
}

#favoriteFoods {
  list-style-image: url('../images/star.png')
}

footer {
  font-weight: bold;
  background-color: beige;
  color: brown;
}